@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.outfit-police {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  box-sizing: border-box;
  transition: .3s;
}
body{
  font-family: "Outfit", sans-serif;
  background-color:  hsl(212, 45%, 89%);
  display: flex;
  height: 100vh;
  align-items: center;
}
.container{
  background-color: white;
  width: 24em;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  transform: scale(0.7);
}
img{
  border-radius: 10px;
  width: 100%;
}
.txt-descript{
  padding: 10px;
  text-align: center;
}
p{
  font-size: 15px;
  opacity: 0.6;
}
@media  screen and (max-width:900px){
    .container{
      width: 30em;
    }
}
@media (prefers-reduced-motion: reduce){
  *{
    transition: .6s;
  }
}